# Swiss-Prot db
data/part_1/swiss_prot/uniprot_sprot.fasta
data/part_1/swiss_prot/uniprot_sprot.csv

# SIFTS PDB chains of Uniprot
data/part_2/original_datasets/pdb_chain_uniprot.tsv
data/part_2/original_datasets/uniprot_segments_observed.tsv
data/part_2/original_datasets/pdb_chain_cath_uniprot.tsv
data/part_2/original_datasets/cath_b.20201021.tsv
data/part_2/original_datasets/swissprot_goa_all.goa
data/part_2/original_datasets/swissprot_goa_manual.goa

# For GO annotations
data/part_2/functional_analysis/uniprot_sprot.xml.gz
data/part_2/functional_analysis/uniprot_sprot.xml.gz.1

.ipynb_checkpoints
data/part_2/original_datasets/swissprot_goa_all.goa.gz